.image-container {
  margin-right: 10px;
  border-radius: 50%;
}

.episode-preview {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  max-height: 150px;
  border-bottom: 1px solid #ccc;
  background-color:#e5e0f8;
}

.subscription-preview {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.jobs, .subscriptions, .episodes{
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 768px) {
  .jobs .subscriptions, .episodes{
    display: block;
  }
}

.sticky {
  background-color: #1b1340;
}

.player-container {
  background-color: #1b1340;
  color: white;
}

.sticky-header {
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}

.sticky-footer {
  position: sticky;
  bottom: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  display: flex;
}

.player-button {
  display: flex;
  align-items: center;
  margin: auto;
}

.player-text {
  color: white;
  margin: auto;
}

.player-audio {
  display: none;
}

.text-content {
  white-space: nowrap;
}