.episode-buttons {
    display: flex;
    gap: 8px;
    align-items: right;
}

.episode-container {
    display: flex;
    flex-direction: column;
}

.episode-preview {
    align-items: center;
    display: flex;
    max-height: 150px;
    border-bottom: 1px solid #ccc;
    background-color: #e5e0f8;
    transition: background-color 0.3s ease;
    padding: 10px;
    max-height: 110px;
    min-height: 110px;
}

.episode-preview:hover {
    background-color: #d1c9f0;
}

.episode-preview .text-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.episode-text {
    white-space: nowrap;
}