<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/media/styles/dashboard.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
<div class="episodes">
<h1>Episodes</h1>
<div class="filter-options">
    <select id="playback-status" name="playback-status">
        <option value="unplayed">Unplayed</option>
        <option value="all">All</option>
    </select>

    <select id="timeframe" name="timeframe">
        <option value="today">Today</option>
        <option value="1-week">1 Week</option>
        <option value="2-weeks">2 Weeks</option>
        <option value="1-month">1 Month</option>
    </select>

{% for episode in episodes %}
<div class="episode-preview">
    <div class="image-container">
        <img src="{{ episode.feed.image }}" alt="" width="75">
    </div>

    <div class="text-content">
        <p>{{ episode.title }}
        <br>Published: {{ episode.pub_date }}
        <br><a href="{{episode.media}}">audio</a>  <a href="/">video</a> <a href="/">transcript</a></p>
    </div>
</div>
{% endfor %}

</div>
</div>
<div class="feeds">
    <h1>Feeds</h1>
    <div class="button-container">
        <button class="refresh-button">Refresh</button>
    </div>
<div class="add-feed">
<form id="rss-form" action="{% url 'subscription-list' %}" method="post" onsubmit="submitForm(event)">
    {% csrf_token %}
    <input type="link" name="link" placeholder="Enter RSS feed URL">
    <button type="submit">Add Feed</button>
</form>
</div>
    {% for feed in feeds %}
    <div class="feed-preview">
    <div class="image-container">
        <img src="{{feed.image}}" alt="" width="75">
    </div>
    <div class="text-content">
        <p> {{feed.title}}
        <a href="{{feed.subscription.link}}">RSS</a> 
        <a href="{{feed.subscription.link}}">Source</a>
        <br>Last Scanned: {{feed.updated_at}}
        <br>Recent Episode: {{feed.recent_episode.title}}
        <br>Published: {{feed.recent_episode.pub_date}}</p>
    </div>
    <br>
    </div>
    {% endfor %}
</div>

<script>
function submitForm(event) {
    event.preventDefault();
    const form = document.getElementById('rss-form');
    const formData = new FormData(form);

    fetch(form.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => {
        if (response.ok) {
            window.location.reload();
        } else {
            console.error('Error submitting form:', response.statusText);
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
</script>
</body>
</html>