<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link href="{% static '/styles/dashboard.css' %}" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="episodes">
      <h1>Episodes</h1>
      <div class="filter-options">
        <select id="playback-status" name="playback-status">
          <option value="unplayed">Unplayed</option>
          <option value="all">All</option>
        </select>

        <select id="timeframe" name="timeframe">
          <option value="today">Today</option>
          <option value="1-week">1 Week</option>
          <option value="2-weeks">2 Weeks</option>
          <option value="1-month">1 Month</option>
        </select>

        {% for episode in episodes %}
        <div class="episode-preview">
          <div class="image-container">
            <img src="{{ episode.image_url }}" alt="" width="75" />
          </div>

          <div class="text-content">
            <p>
              {{ episode.title }} <br />Published: {{ episode.pub_date }}
              <br /><a href="{{episode.media_link}}">Media Link</a>
              <a href="/">video</a> <a href="/">transcript</a>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="subscriptions">
      <h1>Subscriptions</h1>
      <div class="button-container">
        <button class="refresh-button">Refresh</button>
      </div>
      {% for subscription in subscriptions %}
      <div class="subscription-preview">
        <div class="image-container">
          <img src="{{subscription.image_url}}" alt="" width="75" />
        </div>
        <div class="text-content">
          <p>
            {{subscription.title}}
            <a href="{{subscription.rss_url}}">RSS</a>
            <a href="{{subscription.link}}">Source</a>
            <br />Last Scanned: {{subscription.updated_at}} <br />Recent
            Episode: {{subscription.recent_episode.title}} <br />Published:
            {{subscription.recent_episode.pub_date}}
          </p>
        </div>
        <br />
      </div>
      {% endfor %}
    </div>
  </body>
</html>
