{% extends "base.html" %}
{% block title %}Feed{% endblock %}
{% block content %}
<div class="episodes">

  <form action="{% url 'hide_all_episodes' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Hide All</button>
  </form>

  <form action="{% url 'toggle_feed_chronological' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Toggle Chron</button>
  </form>

  <form action="{% url 'refresh_subscriptions' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Refresh</button>
  </form>

  {% for episode in episodes %}
  <div class="episode-preview" id="{{episode.pk}}">
    <div class="image-container">
      <img src="{{ episode.image_url }}" alt="" width="75" />
    </div>

    <div class="text-content">
      <p>
        {{ episode.title }}
        <br />Published: {{ episode.pub_date }}
        <br />
        <a href="{{episode.media_link}}">Source</a>
        {% if episode.audio_url %}
        <a href="{{episode.audio_url}}">Audio</a>
        {% endif %}
      </p>
        <!-- <video controls>
          <source src="{{ episode.media_link}}" type="audio/m4">
          Your browser does not support the audio element.
        </video > -->
      <form action="{% url 'add_to_rss_episode_download_queue' episode.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit">Download</button>
      </form>
      <form action="{% url 'hide_episode' episode.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" onclick="hide('{{episode.pk}}')">Hide</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}