{% extends "base.html" %}
{% block title %}Subscriptions{% endblock %}
{% block content %}
<div class="main-content">

    <div style="display: flex; flex-direction: row;">
        <div class="subscriptions-col">
            <div class="sticky-header">

                <form method="POST" class="subscription-form-row">
                    <a href="/" class="btn btn-secondary" target="_self">Feed</a>
                    {% csrf_token %}
                    <div class="subscription-form-fields">
                        {{ add_subscription_form }}
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>

            {% for subscription in subscriptions %}
            <div class="subscription-preview mb-1" id="{{subscription.pk}}">
                <div class="image-container">
                    <img src="{{subscription.image_url}}" alt="" width="74" />
                </div>
                <div class="text-content">
                    {{subscription.title|slice:":40"}}
                    <a href="{{subscription.rss_url}}">RSS</a>
                    <a href="{{subscription.link}}">Source</a>
                    <br />Last Scanned: {{subscription.last_refresh}} <br />Recent
                    Episode: {{subscription.recent_episode.title|slice:":40"}}...<br />Published:
                    {{subscription.recent_episode.pub_date}}
                </div>
                <button type="button" class="btn btn-danger" onclick="deleteSubscription({{subscription.pk}})">Delete</button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}